@font-face {
  font-family: "Montserrat";
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap);
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #52b69a,
    #34a0a4,
    #168aad,
    #1a759f,
    #1e6091,
    #184e77
  );
}

.title-container {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: #d9ed92;
  display: inline-block;
  padding: 0.5rem;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  max-width: 1200px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #fff;
  text-align: left;
  width: 100%;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.grid-item {
  background-color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  .item-image {
    position: relative;
    width: 100%;
    height: 15rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .item-info {
    display: flex;
    flex-direction: column;

    h3 {
      max-width: 100%;
      height: 4rem;
      padding: 0.5rem;
      font-size: 1.2em;
      color: #333;
      overflow: hidden;
    }

    .category-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.2rem;
      padding: 0.5rem;

      .category {
        font-size: 1.2rem;
        color: #555;
        text-transform: capitalize;
      }

      .favorite {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;

        .fa-heart {
          font-size: 1.2rem;
        }

        .rose {
          color: #ff69b4;
        }
      }
    }

    .price-button-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0.5rem;
    }

    .price {
      margin: 0;
      font-size: 1.4rem;
      font-weight: bold;
      color: #168aad;

      &::after {
        content: " €";
        font-size: 1.4rem;
        margin-left: 0.2rem;
      }
    }
  }

  .add-to-basket {
    background-color: #1e6091;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #184e77;
    }
  }
}
.grid-item:nth-child(even) .item-image {
  background-color: #d9ed92;
}

.grid-item:nth-child(odd) .item-image {
  background-color: #52b69a;
}
